


<!-- Start slider  -->
<section id="mu-slider">
    <div class="mu-slider-area">
        <!-- Top slider -->
        <div class="mu-top-slider">
            @{

                List<T_STORE_IMAGE> list = SessionHelper.LoginInfo.StoreImageList.Where(w => w.IMAGE_TYPE == 2).ToList();

                foreach (T_STORE_IMAGE data in list)
                {
                    <div class="mu-top-slider-single">
                        <img src="@data.IMAGE_URL" alt="img">
                        <!-- Top slider content -->
                        <div class="mu-top-slider-content">
                            <span class="mu-slider-small-title">@data.DATA1</span>
                            <h2 class="mu-slider-title">@data.DATA2</h2>
                            <p>@data.DATA3</p>
                            @*<a href="#" class="mu-readmore-btn">READ MORE</a>*@
                        </div>
                        <!-- / Top slider content -->
                    </div>
                }
            }
            
            @*<!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="/Upload/ALTSOFT/01main/1.jpg" alt="img">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">Welcome</span>
                    <h2 class="mu-slider-title">TO THE SPICYX</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque voluptatem accusamus non quidem, deleniti optio.</p>
                    <a href="#" class="mu-readmore-btn">READ MORE</a>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="/Upload/ALTSOFT/01main/2.jpg" alt="img">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">The Real</span>
                    <h2 class="mu-slider-title">GREEN FOODS</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque voluptatem accusamus non quidem, deleniti optio.</p>
                    <a href="#" class="mu-readmore-btn">READ MORE</a>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->
            <!-- Top slider single slide -->
            <div class="mu-top-slider-single">
                <img src="/Upload/ALTSOFT/01main/3.jpg" alt="img">
                <!-- Top slider content -->
                <div class="mu-top-slider-content">
                    <span class="mu-slider-small-title">Delicious</span>
                    <h2 class="mu-slider-title">SPICY MASALAS</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque voluptatem accusamus non quidem, deleniti optio.</p>
                    <a href="#" class="mu-readmore-btn">READ MORE</a>
                </div>
                <!-- / Top slider content -->
            </div>
            <!-- / Top slider single slide -->*@
        </div>
    </div>
</section>
<!-- End slider  -->
<script type="text/javascript">
    $("document").ready(function () {

        /* ----------------------------------------------------------- */
        /*  2. TOP SLIDER (SLICK SLIDER)
        /* ----------------------------------------------------------- */

        jQuery('.mu-top-slider').slick({
            dots: false,
            infinite: true,
            arrows: true,
            speed: 500,
            autoplay: true,
            fade: true,
            cssEase: 'linear'
        });
    })

</script>