@using ALT.VO.Common;
@using ALT.Framework.Mvc;

@{

    T_MEMBER data = ViewBag.data;

}




<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>[온닫이]비빌번호 변경 요청</title>
    <link href="@GlobalMvc.Host/Common/css/email.css" rel='stylesheet' type='text/css'>
</head>
<body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
        <tr>
            <td>&nbsp;</td>
            <td class="container">
                <div class="content">
                    <!-- START CENTERED WHITE CONTAINER -->
                    @*<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>*@
                    <table class="main">
                        <!-- START MAIN CONTENT AREA -->
                        <tr>
                            <td class="wrapper">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <p>안녕하세요 @(data.USER_NAME) 님</p>
                                            <p>버튼을 클릭하시면 비밀번호 변경 페이지로 이동합니다.</p>
                                            <p>변경만료시간 : @data.PASSWORD_AUTH_TIME</p>
                                            <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                                                <tbody>
                                                    <tr>
                                                        <td align="left">
                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td> <a href="@GlobalMvc.Host/account/passwordchange/@data.PASSWORD_CHANGE_URL" target="_blank">비밀번호변경 화면으로 이동</a> </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p>감사합니다..</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- END MAIN CONTENT AREA -->
                    </table>
                    <!-- START FOOTER -->
                    @*<div class="footer">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="content-block">
                                    <span class="apple-link">Company Inc, 3 Abbey Road, San Francisco CA 94102</span>
                                    <br> Don't like these emails? <a href="http://i.imgur.com/CScmqnj.gif">Unsubscribe</a>.
                                </td>
                            </tr>
                            <tr>
                                <td class="content-block powered-by">
                                    Powered by <a href="http://htmlemail.io">HTMLemail</a>.
                                </td>
                            </tr>
                        </table>
                    </div>*@
                    <!-- END FOOTER -->
                    <!-- END CENTERED WHITE CONTAINER -->
                </div>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</body>
</html>

