@{
    Layout = "~/Views/Shared/_Layout_blank.cshtml";
}
<style type="text/css">
    body {
        background-color: #DADADA;
    }

        body > .grid {
            height: 100%;
        }

    .image {
        margin-top: -100px;
    }

    .column {
        max-width: 500px;
    }
</style>
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            validationinit();
            $("form").submit(function (event) {

                if ($(".ui.error.message").css("display") == "none") { doFindPassword(); }
                event.preventDefault();
            });

            //autoLogin();
        })

        function doFindPassword() {


            var params = BaseCommon.FormInfo.serializeJson(".ui.form", "LOGIN_");
            params.returnUrl = "@ViewBag.returnUrl";
            params = JSON.stringify(params);

            ajax.GetAjax("/account/SendEmailPasswordUrl", params, "json", function (result) {
                if (result.ERROR_MESSAGE != "") {
                    $.MessageBox(result.ERROR_MESSAGE);
                } else {
                    $.MessageBox("등록하신 이메일로 비밀번호 변경이 요청되었습니다.<br/>이메일을 확인하세요.(유효시간:1시간)").done(function () {
                        var frm = Input.inputForm.makeForm("/home/login");
                        Input.inputForm.AddData("ID", $("#USER_ID").val(), frm);

                        frm.submit();
                    });
                    
                }
            })
        }


        //// 체크
        function validationinit() {

            $('.ui.form').form({
                on: 'change',
                focusInvalid: true,
                fields: {
                    USER_NAME: {
                        identifier: 'USER_ID',
                        rules: [
                          {
                              type: 'empty',
                              prompt: '사용자아이디(이메일) 입력하여 주시기 바랍니다.' // Please enter a first name
                          },
                           {
                               type: 'email',
                               prompt: '아이디가 이메일형식에 맞지 않습니다.' // Please enter a first name
                           }
                        ]
                    }
                }, onFailure: function (event, fields) {

                    //실패후 첫번재 에러 태그에 포커스
                    SemanticUI.Form.Invalidation.ErrorFocus();
                }
            });
        }
    </script>
}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <img src="/common/images/logo.png" class="image">
            <div class="content">
                비밀번호 찾기
            </div>
        </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>

                        @Html.TextBox("USER_ID", "", new { @placeholder = "등록된 사용자아이디(이메일)을 입력하세요", @autocomplete = "off" })
                    </div>
                </div>

                <div class="field">
                    <div class="ui fluid large  submit button">메일보내기</div>
                </div>
            </div>

            <div class="ui error message"></div>

        </form>
    </div>
</div>