<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용은 다음을 참조하십시오.
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- Add log4net config section-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,     log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!--<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/log.txt" />
      <appendToFile value="true" />
      <datePattern value="-yyyy-MM-dd" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>-->
    <!-- 날짜 단위로 Rolling 하는 파일 Appender -->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <!-- 로그 파일 이름의 선두 부분 -->
      <File value="./Logs/log" />
      <!-- 기존에 로그 파일이 있다면 연결해서 사용 여부 -->
      <appendToFile value="true" />
      <!-- 날짜 마다 파일을 작성하는 것을 지정 -->
      <rollingStyle value="date" />
      <!-- 로그 파일 이름 고정 여부. 고정하지 않을 때는 false -->
      <staticLogFileName value="false" />
      <!-- 파일 이름에의 날짜 부분 -->
      <datePattern value="&quot;_&quot;yyyyMMdd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <!-- 로그 형식 -->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DefaultDBSource" value="Data Source=106.246.255.132,20241;Initial Catalog=ALTSOFT_ONLINESERVICE;User ID=altsoftweb;Password=altsoft!@34; Connect Timeout=240; Max Pool Size=500;" />
    <!--MongoDB-->
    <add key="MONGODB_HOST" value="106.246.255.132" />
    <add key="MONGODB_PORT" value="27017" />
    <add key="MONGODB_DATABASE" value="admin" />
    <add key="MONGODB_USERNAME" value="altsoft" />
    <add key="MONGODB_PASSWORD" value="asdf!@34A" />
    <!--<add key="DefaultDBSource" value="Data Source=JSH-WB\SQLEXPRESS;Initial Catalog=ALTSOFT_ONLINESERVICE;User ID=altsoftweb;Integrated Security=SSPI;Persist Security Info=False; Connect Timeout=240; Max Pool Size=500;" />-->
    <add key="SqlXmlPath" value="/bin/App_Data/SqlData/" />
    <!-- 세션명 -->
    <add key="LoginSessionName" value="ALTSOFT_LOGIN" />
    <!-- 기본 문화권 -->
    <add key="DefaultCultureName" value="ko-KR" />
    <!-- SNS App Key -->
    <add key="KakaoAppKey" value="79c5a9e9a6ecd88786c0522e33fe184d" />
    <add key="KakaoRestKey" value="f14891693c4c1e9ed1ab2195e941c3dd" />
    <!--<add key="KakaoAppKey" value="79c5a9e9a6ecd88786c0522e33fe184d" />-->
    <add key="DaumApiKey" value="bbbf5aa0b59ed480c315aca6df9870c0" />
    <!-- GoogleMap-->
    <add key="GoogleAppKey" value="AIzaSyA-sD8g6yyU6hBiivFSjqQOL_DevB1A0zs" />
    <add key="FaceBookAppID" value="1412563569027168" />
    <add key="UploadUrl" value="/Files/" />
    <add key="AesKey" value="altsoftweb" />
    <!-- 프로젝트명 -->
    <add key="ProjectTitle" value="온닫이" />
    <!--MAIN_CODE : _P001 0 : 홈페이지, 1 : loggal 요청, 2 : loggal 관리 -->
    <add key="PROJECT_SITE" value="3" />
    <add key="HOSTING_SITE" value="http://hosting.altsoft.ze.am" />
    <add key="MANAGEMENT_SITE" value="https://altsoft.ze.am" />
    <!-- Ftp 정보 -->
    <add key="FtpDomain" value="ftp://106.246.255.132:27021/" />
    <add key="FileUser" value="ftpfiles" />
    <add key="FtpPw" value="altsoft!@34" />
  </appSettings>
  <!--
    web.config 변경 내용에 대한 설명은  http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <!--10 Mb 업로드 설정-->
    <httpRuntime maxRequestLength="2097152" requestValidationMode="2.0" executionTimeout="3600" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <sessionState mode="InProc" timeout="60" />
    <customErrors mode="On" defaultRedirect="/common/errorpage/errorpage.htm">
      <error redirect="/common/errorpage/errorpage.htm" statusCode="404" />
      <error redirect="/common/errorpage/errorpage.htm" statusCode="500" />
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.DependencyCollector" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.24.0.0" newVersion="0.24.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <staticContent>
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <httpRedirect enabled="false" destination="https://altsoft.ze.am" />
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="mrc0700@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="mrc0700smtp@gmail.com" password="jshgogoman3" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>