

@{ 

        Daum_MapMultiMarker option = new Daum_MapMultiMarker() { ID ="loggalmap", MAKER_MAX_COUNT = SessionHelper.LoginInfo.EMPLOYEE.MAKER_MAX_COUNT } ;
    }
    @Html.EditorFor(model => new EditTempleateModel().Kakao_MapMakerCircle, new { optionmap = option })

@Html.Semantic_Button2("btnOpen", "팝업", SemanticUIHelper.enButtonType.Normal, new { @onclick =(option.ID) + "_MapOpen(" + Json.Encode( option.list) +")" })


@Html.TextBox("txtAdd") <button onclick="fnLocation()">주소가져오기</button>

<script>
    function fnLocation() {
        var params = new Object();
        params.ADDRESS = $("#txtAdd").val();
        params = JSON.stringify(params);
        ajax.GetAjax("/common/GetDaumMapApiAddressTolnglat/", params, "json", function (result) {
            
            var obj = JSON.parse(result);
            var lat 
            if (obj.channel.item.length != 0) {
                obj.channel.item[0].lat;
                obj.channel.item[0].lng;
            }
        });


        
    }


</script>